.end-screen-container{
    width:50%;
    margin: auto;
}

.completed-words-container li{
    color:green
}

.failed-words-container li{
    color:red
}

.end-screen-column{
    text-align: left;
    width:30%;
    margin:auto;
    display:table-cell;
    vertical-align: top;
    border-left-style: solid;
    border-width: 1px;
    padding-left: 3px;
}

ul{
    list-style-type: none;
    padding:0px;
}